*{
    margin: 0;
    padding: 0;
     font-family:'Poppins', sans-serif;
    background-color:white;
}
a, p, li, button{
text-decoration: none;
color:black;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: .2em;
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a{
    margin: 0 15px;
    transition: all .3s ease 0s;
}
.nav-links li a:hover{
    color:#ff33be
}
button{
    border: none;
    background-color:rgb(15, 214, 232);
    margin-right: 20px;
    padding: 6px 25px;
    border-radius: 15px;
    font-weight: bold;
    transition: all .3s ease 0s;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.container-1{
    text-align: center;

}
.card1, .card2, .card3, .card4, .card5, .card6 {
    padding: 10px 30px;
    border-radius: 10px;
    width: 600px; /* set the width to 300px */
    height: 400px; /* set the height to 200px */
  }
  
.catagories img{
    width: 100px;

}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
   
  }
  
  .container-2 h1 {
    text-align: center;
  }
  .conatiner-3{
    text-align: center;
  }

h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  p {
    font-size: 1.25rem;
  }
  
  .btn {
    margin-top: 1rem;
  }
 .p-3{
   padding: 70px;
   margin: 50px;
   height: 200px;
   border-radius: 10px;

   

 }
 .buy-now-button-4{
    float: right;
 }
 .text-emphasis-primary {
    background-color: transparent;
  }
  .conatiner-5{
    padding: 20px;
    text-align: justify;
  }